	<style>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
	*{box-sizing: border-box;}
	body{
		font-family: "Poppins",sans-serif;
		margin:0;
		background-color: #7bdaf3;
		display: flex;
		flex-wrap: wrap;
	}

	.add{
		background-color: #9ec862;
		border:none;
		border-radius: 3px;
		padding: 0.5rem 1rem;
		color: white;
		position: fixed;
		top:1rem;
		right: 1rem;
		cursor: pointer;
	}

	.note{
		background-color: #fff;
		margin: 20px; 
		width: 500px;
		height: 500px;
	}

	.note .tools{
		background-color: #9ec862;
		display: flex;
		justify-content: flex-end;
		padding: 0.5rem;
	}

	.note .tools button{
		background-color: transparent;
		border:none;
		color:#fff;
		font-size: 1rem;
		margin-left: 0.5rem; 
		cursor: pointer;
	}

	.note .main{
		background-color: #fff;
		overflow: hidden;
		height: 400px;
		width: 100%;
	}

	.note textarea{
		outline: none;
		font-family: inherit;
		border: none;
		height: 400px;
		width: 99%;
		font-size: 1.2rem;
	}

	.note .hidden{
		display: none;
	}

	</style>